.text_center {
    text-align: center;
}

.fw_light {
    font-weight: 300 !important;
}

.max_w_1030 {
    max-width: 1030px;
}

.max_w_468 {
    max-width: 468px;
}

.pt_32 {
    padding-top: 32px;
}

.yellow_dots {
    height: 1.5px;
    width: 1.5px;
    display: inline-block;
    transform: translateY(-3px);
    border-radius: 50%;
}

.pt_6 {
    padding-top: 6px;
}

.pb_20 {
    padding-bottom: 20px;
}

.text_end {
    text-align: end;
}

/* =============Ordinal Community Airdrop Allocations SECTION===========*/

.blur_layer_ordinal {
    width: 100%;
    height: 130px;
    left: -1%;
    background: radial-gradient(47.99% 107.94% at 29.98% 135%, rgba(209, 141, 14, 0.2) 0%, rgba(209, 141, 14, 0) 100%);
}

/* =============CountDown===========*/
.countdown_bg {
    background: url("../images/webp/bfi_countdown_bg_img.webp") no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.py_40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

/* ====================BFI ROOT CSS===================== */
@media (max-width: 1023.98px) {
    :root {
        --font-sm: 11px !important;
        --font-xmd: 13px !important;
        --font-lg: 27px !important;
        --font-xl: 40px !important;
    }

    .text_md_18 {
        font-size: 18px !important;
    }
}

@media (max-width: 767.98px) {
    :root {
        --font-xBase: 12px !important;
        --font-base: 14px !important;
        --font-md: 16px !important;
        --font-xmd: 16px !important;
        --font-xlg: 24px !important;
        --font-xl: 32px !important;
    }

    .text_sm_18 {
        font-size: 18px !important;
    }
}

@media (max-width: 575.98px) {
    :root {
        --font-sm: 10px !important;
        --font-base: 12px !important;
        --font-xmd: 12px !important;
        --font-md: 12px !important;
        --font-xlg: 20px !important;
        --font-lg: 26px !important;
        --font-xl: 18px !important;
    }

    .text_18 {
        font-size: 18px !important;
    }

    .text_12 {
        font-size: 12px !important;
    }
}

@media (min-width:576px) {
    .d_sm_flex {
        display: flex;
    }

    .pt_sm_12 {
        padding-top: 12px;
    }

    .pt_sm_0 {
        padding-top: 0px !important;
    }
}

@media (min-width:768px) {
    .pt_md_20 {
        padding-top: 20px;
    }

    .pt_md_20 {
        padding-top: 20px;
    }

    .max_w_md_630 {
        max-width: 630px;
    }

    .h_md_56 {
        height: 56px;
    }

    .justify_content_md_center {
        justify-content: center;
    }
}

@media (min-width:1024px) {
    .pt_lg_24 {
        padding-top: 24px;
    }

    .pt_lg_20 {
        padding-top: 20px;
    }

    .py_lg_24 {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .py_lg_32 {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .px_lg_32 {
        padding-left: 32px;
        padding-right: 32px;
    }

    .col_lg_8 {
        width: 66.66% !important;
    }


}

@media (min-width:1280px) {


    .px_xl_64 {
        padding-left: 64px;
        padding-right: 64px;
    }

    .pr_xl_90 {
        padding-right: 90px;
    }
}

@media (min-width:1420px) {
    .h_2xl_auto {
        height: auto;
    }
}