
/* ==================scrollbar hidden================== */
.token_section::-webkit-scrollbar {
  display: none;
}

/* ============= introduction section================= */
.tab {
  display:none;
   transition: opacity 0.3s ease;
}

.active {
  color: var(--color-meteor) !important;
  border-bottom: 2px solid var(--color-meteor) !important;
}


.bfi_token {
  height: 102px;
  display: flex;
  align-items: end;
  background-image: url("../images/webp/bfi-token-bg.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.token_links:hover {
  color: var(--color-meteor);
}

.token_section {
  overflow-x: scroll;
}

.token_section div {
  width: 890px;
}

.introduction_para {
  max-width: 700px;
}

.introduction_bottom_services_para:hover {
  color: var(--color-meteor);
  border-bottom: 2px solid var(--color-meteor);
}

.introduction_row {
  padding-bottom: 70px;
  padding-top: 30px;
}

.introduction_heading {
  padding-top: 124px;
}

.hero_bfi {
  right: 8%;
  top: -7%;
  height: 144px;
  width: 144px;
  z-index: 3 !important;
  filter: drop-shadow(1px 1px 40px var(--color-meteor));
}

.top_line {
  position: relative;
}

.top_line::before {
  position: absolute;
  content: "";
  height: 2px;
  top: 0;
  left: -10%;
  width: 120%;
  background-color: var(--color-mine-shaft);
}

/* =============tokimonia section start here================ */
.tokenomic_coin_img {
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  left: -8px;
}

.tokenomics_section .row {
  min-height: 500px !important;
}

.market_logo {
  max-width: 30px;
}

.tokenomic_bg {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* ==================PROMINENT COMMUNITIES====================== */
.yellow_dots {
  padding: 1px;
  display: inline-block;
  transform: translateY(-3px);
  border-radius: 50%;
}

/* =============Ordinal Community Airdrop Allocations SECTION===========*/

.blur_ellip {
  width: 100%;
  height: 130px;
  left: -1%;
  background: radial-gradient(
    47.99% 107.94% at 29.98% 135%,
    rgba(209, 141, 14, 0.2) 0%,
    rgba(209, 141, 14, 0) 100%
  );
}

.ordinal_img {
  min-width: 250px;
  min-height: 195px;
}

/* =============CountDown===========*/
.countdown_bg {
  background: url("../images/webp/bfi_countdown_bg_img.webp") no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.light_gray_button .yellow_button,
.bfi_countdown .yellow_button {
  width: 270px;
  padding: 11px;
  height: 36px;
  font-size: 12px;
}

.bfi_countdown .yellow_button {
  clip-path: polygon(0 0, 100% 0, 100% 76%, 95.5% 100%, 0 100%);
}

.light_gray_button .yellow_button {
  clip-path: polygon(5% 0%, 20% 0, 100% 0%, 100% 100%, -8% 100%);
}

/* ====================BFI ROOT CSS===================== */
@media (max-width: 1023.98px) {
  :root {
    --font-sm: 11px !important;
    --font-xmd: 13px !important;
    --font-md: 16px !important;
    --font-lg: 27px !important;
    --font-xl: 40px !important;
  }

  .text_md_18 {
    font-size: 18px !important;
  }
}

@media (max-width: 767.98px) {
  :root {
    --font-xBase: 12px !important;
    --font-base: 14px !important;
    --font-md: 14px !important;
    --font-xmd: 16px !important;
    --font-xlg: 24px !important;
    --font-xl: 32px !important;
  }

  .text_sm_18 {
    font-size: 18px !important;
  }
}

@media (max-width: 575.98px) {
  :root {
    --font-sm: 10px !important;
    --font-xBase: 10px !important;
    --font-base: 12px !important;
    --font-xmd: 12px !important;
    --font-md: 12px !important;
    --font-xlg: 20px !important;
    --font-lg: 26px !important;
    --font-xl: 18px !important;
  }

  .text_18 {
    font-size: 18px !important;
  }

  .text_12 {
    font-size: 12px !important;
  }
}

/*=========================== MEDIA MIN SCREEN  START HERE ===============================*/

@media (min-width: 576px) {
  /* ==================FLEX CLASS================== */
  .d_sm_flex {
    display: flex;
  }


  .bfi_token {
    height: 237px;
    display: flex;
    align-items: center;
  }

  .introduction_row {
    padding-bottom: 60px;
    padding-top: 80px;
  }

  .hero_bfi {
    right: 5%;
    top: -14%;
    height: 250px;
    width: 250px;
    filter: drop-shadow(2px 2px 60px var(--color-meteor));
  }

  .introduction_bg {
    max-width: 500px;
    right: 0;
    z-index: 0 !important;
    top: 0;
    height: 100%;
  }

  .letter_sm_10 {
    letter-spacing: 10px;
  }
}

@media (min-width: 768px) {
 
  /* ==================MAX WIDTH================== */
  .max_w_md_630 {
    max-width: 630px;
  }

  /* ================= DISPLAY FLEX ============= */
  .justify_content_md_center {
    justify-content: center;
  }

  .light_gray_button .yellow_button,
  .bfi_countdown .yellow_button {
    width: 300px;
    height: 40px;
  }

  .gap_md_20 {
    gap: 20px;
  }

  .letter_md_6 {
    letter-spacing: 6px;
  }

  .letter_md_4 {
    letter-spacing: 4px;
  }

  .pl_md_16 {
    padding-left: 16px !important;
  }

  .token_section div {
    width: 1000px;
  }

  .text_md_start {
    text-align: start !important;
  }

  .hero_bfi {
    right: 5%;
    top: -20%;
    height: 250px;
    width: 250px;
    filter: drop-shadow(2px 2px 70px var(--color-meteor));
  }

  .light_gray_button .yellow_button,
  .bfi_countdown .yellow_button {
    padding: 14px;
  }
}

@media (min-width: 1024px) {

  /* ==================COL================== */
  .col_lg_8 {
    width: 66.66% !important;
  }

  .align_items_lg_center {
    align-items: center;
  }

  .light_gray_button .yellow_button,
  .bfi_countdown .yellow_button {
    width: 400px;
    height: 44px;
  }

  .d_lg_none {
    display: none;
  }

  .hero_bfi {
    right: 5%;
    height: 300px;
    width: 300px;
    filter: drop-shadow(2px 2px 100px #db981c);
  }

  .tokenomic_bg {
    background-image: url(../images/webp/tokenomic_bg.webp);
    background-repeat: no-repeat;
    background-size: 115% 100%;
    background-position-x: 41%;
  }
  .tokenomics_section .row {
    min-height: 420px !important;
  }

  .light_gray_button .yellow_button,
  .bfi_countdown .yellow_button {
    padding: 15.5px;
  }

  .progressbar_h {
    height: 56px;
  }
}

@media (min-width: 1280px) {

  .light_gray_button .yellow_button,
  .bfi_countdown .yellow_button {
    width: 464px;
    height: 50px;
  }

  .hero_bfi {
    right: 10%;
    height: 350px;
    width: 350px;
  }

  .tokenomic_bg {
    background-position-x: 33%;
  }
  .tokenomics_section .row {
    min-height: 500px !important;
  }

  .d_xl_none {
    display: none;
  }

  .light_gray_button .yellow_button,
  .bfi_countdown .yellow_button {
    padding: 19px;
  }
}

@media (min-width: 1400px) {
  .tokenomic_bg {
    background-size: 100% 100%;
    background-position-x: 43%;
  }

  .hero_bfi {
    right: 10%;
    height: 370px;
    width: 370px;
  }
}

@media (min-width: 1420px) {
  .progressbar_h {
    height: auto;
  }
}
