/* ================= DISPLAY FLEX ============= */
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.d_flex {
    display: flex;
}


.flex_wrap {
    flex-wrap: wrap;
    flex-direction: row;
}

.d_block {
    display: block;
}

.d_none {
    display: none;
}

.d_inline_block {
    display: inline-block;
}

.flex_row {
    flex-direction: row;
}

.flex_column {
    flex-direction: column;
}

.flex_wrap {
    flex: wrap;
}

.justify_content_center {
    justify-content: center;
}

.justify_content_end {
    justify-content: end;
}

.justify_content_between {
    justify-content: space-between;
}

.align_items_center {
    align-items: center;
}

.cursor_pointer {
    cursor: pointer;
}

.w_100 {
    width: 100%;
}
/* ================= TEXT ALIGN ============= */

.text_start {
    text-align: start;
}

.text_center {
    text-align: center;
}

.text_end {
    text-align: end;
}

/* =============== POSITION =============== */

.position_relative {
    position: relative;
}

.position_absolute {
    position: absolute;
}

.position_fixed {
    position: fixed;
}

.top_0 {
    top: 0;
}

.bottom_50 {
    bottom: 50%;
}

.left_0 {
    left: 0;
}

.left_50 {
    left: 50%;
}

.translate_x_minus_50 {
    transform: translate(-50%);
}

.right_0 {
    right: 0;
}

.bottom_0 {
    bottom: 0;
}


/* =============== LINE HEIGHT ================*/

.lh_110 {
    line-height: 110%;
}

.lh_120 {
    line-height: 120%;
}

.lh_130 {
    line-height: 130%;
}

.lh_160 {
    line-height: 160%;
}

/* ================== ORDER ================= */

.order_first {
    order: 0;
}

.order_last {
    order: 1;
}




.text_decoration_underline {
    text-decoration: underline;
}

.text_center {
    text-align: center;
}

.text_start {
    text-align: left !important;
}

.text_capitalize {
    text-transform: capitalize;
}

.list_unstyled {
    list-style-type: none;
}


.common_btn {
    font-size: var(--font-md);
    font-weight: 700;
    background: linear-gradient(90deg, #017EFF 0%, #97C4FF 100%);
    border-radius: 16px;
    padding: 20px 75px;
    border: unset;
}

.common_btn:focus,
.common_btn:hover {
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
    -webkit-box-shadow: 0 0 0 0.7em transparent;
    box-shadow: 0 0 0 0.7em transparent;
}
