/* ================= DISPLAY FLEX ============= */

.d_flex {
    display: flex;
}

.flex_wrap {
    flex-wrap: wrap;
    flex-direction: row;
}

.d_block {
    display: block;
}

.d_none {
    display: none;
}

.d_inline_block {
    display: inline-block;
}

.flex_row {
    flex-direction: row;
}

.flex_column {
    flex-direction: column;
}

.flex_wrap {
    flex: wrap;
}

.justify_content_center {
    justify-content: center;
}

.justify_content_end {
    justify-content: end;
}

.justify_content_between {
    justify-content: space-between;
}

.align_items_center {
    align-items: center;
}

/* ============= ROW AND COL =============== */
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col_1 {
    width: 8.33%;
    padding: 0 12px;
}

.col_2 {
    width: 16.66%;
    padding: 0 12px;
}

.col_3 {
    width: 25%;
    padding: 0 12px;
}

.col_4 {
    width: 33.33%;
    padding: 0 12px;
}

.col_5 {
    width: 41.66%;
    padding: 0 12px;
}

.col_6 {
    width: 50%;
    padding: 0 12px;
}

.col_7 {
    width: 58.33%;
    padding: 0 12px;
}
.col_8 {
    width: 66.66%;
    padding: 0 12px;
}

.col_9 {
    width: 75%;
    padding: 0 12px;
}

.col_10 {
    width: 83.33%;
    padding: 0 12px;
}

.col_11 {
    width: 91.66%;
    padding: 0 12px;
}

.col_12 {
    width: 100%;
    padding: 0 12px;
}
/* ============= WIDTH =============== */

.w_100 {
    width: 100%;
}

/* ================= TEXT ALIGN ============= */

.text_start {
    text-align: start;
}

.text_center {
    text-align: center;
}

.text_end {
    text-align: end;
}

.text_uppercase {
    text-transform: uppercase;
}

.text_capitalize {
    text-transform: capitalize;
}

/* ============ LETTER SPACING =========== */
.letter_16 {
    letter-spacing: 16%;
}

.-letter_10 {
    letter-spacing: 10%;
}
/* =============== POSITION =============== */

.position_relative {
    position: relative;
}

.position_absolute {
    position: absolute;
}

.position_fixed {
    position: fixed;
}

.top_0 {
    top: 0;
}

.bottom_50 {
    bottom: 50%;
}

.left_0 {
    left: 0;
}

.left_50 {
    left: 50%;
}

.-translate_x_50 {
    transform: translateX(-50%);
}

.-translate_y_50 {
    transform: translateY(-50%);
}

.right_0 {
    right: 0;
}

.bottom_0 {
    bottom: 0;
}

/* =============== LINE HEIGHT ================*/

.lh_110 {
    line-height: 110%;
}

.lh_120 {
    line-height: 120%;
}

.lh_130 {
    line-height: 130%;
}

.lh_160 {
    line-height: 160%;
}

/* ================== ORDER ================= */

.order_first {
    order: 0;
}

.order_last {
    order: 1;
}

/* ============ COMMON CLASS ============== */

.cursor_pointer {
    cursor: pointer;
}

.z_1 {
    z-index: 1;
}

.z_2 {
    z-index: 2;
}

.z_10 {
    z-index: 10;
}

.overflow_hidden {
    overflow: hidden;
}
