.gap_12 {
    gap: 12px;
}

/* ================= DISPLAY FLEX ============= */

.d_flex {
    display: flex;
}

.flex_wrap {
    flex-wrap: wrap;
    flex-direction: row;
}

.d_block {
    display: block;
}

.d_none {
    display: none;
}

.d_inline_block {
    display: inline-block;
}

.flex_row {
    flex-direction: row;
}

.flex_column {
    flex-direction: column;
}

.flex_wrap {
    flex: wrap;
}

.justify_content_center {
    justify-content: center;
}

.justify_content_end {
    justify-content: end;
}

.justify_content_between {
    justify-content: space-between;
}

.align_items_center {
    align-items: center;
}

/* ============= ROW AND COL =============== */
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col_1 {
    width: 8.33%;
    padding: 0 12px;
}

.col_2 {
    width: 16.66%;
    padding: 0 12px;
}

.col_3 {
    width: 25%;
    padding: 0 12px;
}

.col_4 {
    width: 33.33%;
    padding: 0 12px;
}

.col_5 {
    width: 41.66%;
    padding: 0 12px;
}

.col_6 {
    width: 50%;
    padding: 0 12px;
}

.col_7 {
    width: 58.33%;
    padding: 0 12px;
}

.col_8 {
    width: 66.66%;
    padding: 0 12px;
}

.col_9 {
    width: 75%;
    padding: 0 12px;
}

.col_10 {
    width: 83.33%;
    padding: 0 12px;
}

.col_11 {
    width: 91.66%;
    padding: 0 12px;
}

.col_12 {
    width: 100%;
    padding: 0 12px;
}

/* ============= WIDTH AND HEIGHT =============== */

.w_100 {
    width: 100%;
}

.h_100 {
    height: 100%;
}

/* ================= TEXT ALIGN ============= */

.text_start {
    text-align: start;
}

.text_center {
    text-align: center;
}

.text_end {
    text-align: end;
}

.text_uppercase {
    text-transform: uppercase;
}

.text_capitalize {
    text-transform: capitalize;
}

/* ============ LETTER SPACING =========== */
.letter_16 {
    letter-spacing: 16%;
}

.letter_20 {
    letter-spacing: 3px;
}

.-letter_10 {
    letter-spacing: 10%;
}

/* =============== POSITION =============== */

.position_relative {
    position: relative;
}

.position_absolute {
    position: absolute;
}

.position_fixed {
    position: fixed;
}

.top_0 {
    top: 0;
}

.bottom_50 {
    bottom: 50%;
}

.left_0 {
    left: 0;
}

.left_50 {
    left: 50%;
}

.-translate_x_50 {
    transform: translateX(-50%);
}

.-translate_y_50 {
    transform: translateY(-50%);
}

.right_0 {
    right: 0;
}

.bottom_0 {
    bottom: 0;
}

/* =============== LINE HEIGHT ================*/

.lh_110 {
    line-height: 110%;
}

.lh_120 {
    line-height: 120%;
}

.lh_130 {
    line-height: 130%;
}

.lh_160 {
    line-height: 160%;
}

/* ================== ORDER ================= */

.order_first {
    order: 0;
}

.order_last {
    order: 1;
}

/* ============ COMMON CLASS ============== */

.cursor_pointer {
    cursor: pointer;
}

.z_1 {
    z-index: 1;
}

.z_2 {
    z-index: 2;
}

.z_10 {
    z-index: 10;
}

.overflow_hidden {
    overflow: hidden;
}

/* ========== BACK TO TOP CSS =========== */
#back_to_top_btn {
    display: none;
    position: fixed;
    bottom: 45px;
    right: 14px;
    background-color: var(--color-skyblue);
    border: none;
    z-index: 49;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid transparent;
}

#back_to_top_btn:hover {
    border: 1px solid var(--color-white);
}

/* =========== BORDER ========== */

.border_top {
    border-top: 2px solid var(--color-mine-shaft);
}

.border_bottom {
    border-bottom: 2px solid var(--color-mine-shaft);
}

.border_left {
    border-left: 2px solid var(--color-mine-shaft);
}

.border_right {
    border-right: 2px solid var(--color-mine-shaft);
}

/* ============== PADDING ========== */
.pl_48 {
    padding-left: 48px;
}

.pr_48 {
    padding-right: 48px;
}

.pl_32 {
    padding-left: 32px;
}

.pr_32 {
    padding-right: 32px;
}

.pl_24 {
    padding-left: 32px;
}

.pr_24 {
    padding-right: 32px;
}

.pr_18 {
    padding-right: 18px;
}

/* ============== MARGIN ========== */
.ml_48 {
    margin-left: 48px;
}

.mr_48 {
    margin-right: 48px;
}

.ml_32 {
    margin-left: 32px;
}

.mr_32 {
    margin-right: 32px;
}

.ml_24 {
    margin-left: 32px;
}

.mr_24 {
    margin-right: 32px;
}

/* ============ GAP ============= */
.gap_48 {
    gap: 48px;
}

.gap_32 {
    gap: 32px;
}

.gap_24 {
    gap: 24px;
}

.gap_16 {
    gap: 16px;
}

.mx_auto {
    margin-left: auto;
    margin-right: auto;
}

/* ========================== SUHEADING=========================== */
.sub_heading {
    font-size: var(--font-lg);
    color: var(--color-zombie);
    font-weight: 700;
    letter-spacing: 4px;
    line-height: 110%;
    text-transform: uppercase;
}

.normal_para {
    font-size: var(--font-sm);
    color: var(--color-meteor);
    font-weight: 500;
    line-height: 130%;
}

@media (min-width:768px) {
    .order_md_0 {
        order: 0;
    }

    .order_md_1 {
        order: 1;
    }

    .flex_md_row {
        flex-direction: row;
    }

    .align_items_md_center {
        align-items: center;
    }
}