.hero_bg_img {
    background-image: url("../images/webp/hero_bg.webp");
    background-position: top;
    background-size: 100% 70%;
    background-repeat: no-repeat;
}
.hero_bg_img .yellow_button {
    width: 120px !important;
    height: 25px !important;
    font-size: 8px !important;
}

.heading_max_width {
    max-width: 480px;
}
.macbook_paragrph_width {
    max-width: 460px;
}

.macbook_img {
    transform: translateX(-100px);
    width: 100%;
}
.hero_bg_img .normal_para {
    max-width: 420px;
}
.hero_content_max_w {
    max-width: 400px;
}
.hero_mobile_line {
    top: 70%;
    height: 2px;
    background: var(--color-mine-shaft);
}
@media (min-width: 768px) {
   
    .hero_bg_img {
        background-position: center;
        background-size: 100% 100%;
    }
    .pb_md_70 {
        padding-bottom: 70px;
    }
    .macbook_img {
        transform: translate(-20px, 4px);
    }
    .macbook_content_pb {
        padding-bottom: 70px;
    }
    .hero_bg_img .yellow_button {
        font-size: 12px !important;
        width: 220px !important;
        height: 46px !important;
    }
    .hero_mobile_img {
        width: 456px;
        height: 560px;
        right: -7%;
        top: 70px;
        display: block;
        position: absolute;
        z-index: 11;
    }
    .hero_bg_img {
        height: calc(100vh - 78px);
    }
    .col_lg_5 {
        width: 41.33%;
        padding: 0 12px;
    }
}
@media (min-width: 1024px) {
    .hero_content_max_w {
        max-width: unset;
    }
    .hero_mobile_img {
        right: 0%;
    }
}
@media (min-width: 1200px) {
    .col_xl_7 {
        width: 58.33%;
        padding: 0 12px;
    }
    .col_xl_5 {
        width: 41.66%;
        padding: 0 12px;
    }

    .macbook_content_pb {
        padding-bottom: 80px !important;
    }
    .hero_mobile_img {
        right: 0;
        width: 580px;
        height: 710px;
    }
    .pl_xl_32 {
        padding-left: 32px;
    }
}

@media (min-width: 1400px) {
    .hero_mobile_img {
        width: 682px;
        height: 836px;
    }
}
@media (min-width: 1536px) {
    .hero_mobile_img {
        width: 801px;
        height: 982px;
    }
    .macbook_img{
        width: 106% !important;
    }
}
@media (min-width: 1921px) {
    .hero_bg_img {
        height: 810px;
    }
}
