@import url(./root.css);
.token_links:hover {
  color: var(--color-meteor);
}
.token_section {
  overflow-x: scroll;
}
.token_section div {
  width: 890px;
}
.text_nowrap {
  text-wrap: nowrap;
}
.pt_16{
  padding-top: 16px;
}
.pb_12{
  padding-bottom: 12px;
}
.pt_16{
  padding-top: 16px;
}
/* scrollbar hidden */

.token_section::-webkit-scrollbar {
  display: none; 
}
.bfi_token{
  height: 102px;
  display: flex;
  align-items:end;
  background-image: url('../images/png/bfi-token-bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* introduction section */
.introduction_para{
  max-width: 700px;
}
.introduction_bottom_services_para:hover{
color: var(--color-meteor);
border-bottom: 2px solid var(--color-meteor);
}

@media (min-width:576px) {
  .bfi_token{
  height: 237px;
  display: flex;
  align-items: center;
}
}
@media (min-width:768px) {
    .pl_md_16{
        padding-left: 16px !important;
    }
    .token_section div {
  width: 1000px;
}
    
}
@media (min-width:992px) {
    .pl_xl_16{
        padding-left: 16px !important;
    }
    
}