.nav_height {
    height: 78px;
}
.nav_logo_padding {
    padding: 0 32px 0 18px;
}

.yellow_button {
    width: 130px;
    height: 32px;
    background: var(--color-meteor);
    border: none;
    padding: 10px;
    clip-path: polygon(0 0, 100% 0, 100% 58%, 87% 100%, 0 100%);
}

@media (max-width:1399.98px) {
    
}