.nav_height {
    height: 78px;
}

.nav_logo_text{
    width: 156px;
    height: 29px;
}
.nav_logo_padding {
    padding: 0 32px 0 18px;
}

.px_32 {
    padding: 0 32px;
}

.nav_logo_padding {
    padding: 0 32px 0 18px;
}

.social_icons:hover svg path {
    fill: var(--color-meteor);
}
.search_icon:hover svg path {
    stroke: var(--color-meteor);
}
.desktop_navbar_hover:hover {
    color: var(--color-meteor);
    background: linear-gradient(
        180deg,
        rgba(209, 141, 14, 0.1) 0%,
        rgba(107, 72, 7, 0) 50%,
        rgba(194, 131, 13, 0.1) 100%
    );
}
.desktop_navbar_hover::after {
    content: "";
    background-color: var(--color-meteor);
    width: 0;
    height: 1px;
    position: absolute;
    top: 0px;
    left: 50%;
    transition: all 300ms linear;
}
.desktop_navbar_hover:hover:after {
    width: 100%;
    left: 0;
}
.nav-toggler {
    border: none;
    background-color: transparent;
    cursor: pointer;
    min-width: 40px;
    min-height: 30px;
    display: none;
}
.nav-toggler span {
    width: 100%;
    height: 3px;
    background-color: #fff;
    display: block;
    transition: 0.3s;
}
.mobile_navbar {
    display: none !important;
}
.mobile_navbar_hover {
    width: 55px;
    height: 100%;
    transition: all 300ms linear;
    padding: 6px 15px;
    position: relative;
}
.mobile_navbar_hover a {
    margin-top: 10px;
}
.mobile_navbar_hover::after {
    content: "";
    background-color: var(--color-meteor);
    width: 0;
    height: 1px;
    position: absolute;
    top: -1px;
    left: 50%;
    transition: all 300ms linear;
}
.mobile_navbar_hover:hover:after {
    width: 100%;
    left: 0;
}
.mobile_navbar_hover:hover a {
    color: var(--color-meteor);
}
.mobile_navbar_hover:hover svg circle {
    fill: var(--color-meteor);
}
.mobile_navbar_hover svg circle {
    transition: all 300ms ease-in-out;
}
.mobile_navbar_hover:hover svg rect {
    fill: var(--color-meteor);
}
.mobile_navbar_hover svg rect {
    transition: all 300ms ease-in-out;
}
.mobile_navbar_hover:hover .mobile_svg_stroke {
    stroke: var(--color-meteor);
}
.mobile_navbar_hover:hover .mobile_svg_path {
    fill: var(--color-meteor);
}
.mobile_navbar_hover:hover {
    background: linear-gradient(
        180deg,
        rgba(209, 141, 14, 0.1) 0%,
        rgba(107, 72, 7, 0) 50%,
        rgba(194, 131, 13, 0.1) 100%
    );
}
.no-scroll {
    overflow: hidden;
}
@media (max-width: 1399.98px) {
    .nav_logo_padding {
        border-right: unset !important;
    }
    .pr_2xl_32 {
        padding-right: 32px !important;
        border-right: 2px solid var(--color-mine-shaft);
        height: 100%;
        margin-right: 20px;
    }
    /* navbar css for mobile start */
    .nav-toggler {
        z-index: 111;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .nav_height {
        min-height: 60px;
    }
    .mobile_nav {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        flex-direction: column;
        align-items: center;
        border-top: 1px solid #444;
        background-color: black;
        max-height: 0;
        overflow: hidden;
        transition: 0.3s;
        z-index: 100;
    }
    .mobile_nav.open {
        max-height: 100vh;
    }
    .nav-toggler.toggler-open span:nth-child(2) {
        background-color: transparent;
    }
    .nav-toggler.toggler-open span:nth-child(1) {
        transform: translate(0px, 14px) rotate(45deg);
    }
    .nav-toggler.toggler-open span:nth-child(3) {
        transform: translate(0px, -14px) rotate(-45deg);
    }
    .text_nav_md {
        font-size: 24px !important;
    }
}
@media (max-width: 991.98px) {
    .text_nav_md {
        font-size: 20px !important;
    }

    .nav-toggler.toggler-open span:nth-child(1) {
        transform: translate(0px, 11px) rotate(45deg);
    }
    .nav-toggler.toggler-open span:nth-child(3) {
        transform: translate(0px, -11px) rotate(-45deg);
    }
    .nav_logo_padding {
        padding-left: 0 !important;
        padding-right: 20px !important;
    }
    .nav-toggler {
        min-width: 40px;
        min-height: 30px;
    }
    .gap_lg_20 {
        gap: 20px !important;
    }
    .px_lg_20 {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .nav_height {
        height: 60px;
    }
    .nav-toggler span,
    .nav-toggler span:before,
    .nav-toggler span:after {
        height: 2px !important;
    }
    .nav-toggler {
        min-width: 35px;
        min-height: 25px;
    }
}
@media (max-width: 767.98px) {
    .mobile_navbar_hover {
        width: 70px;
    }
    header.border_bottom {
        border-bottom: unset !important;
    }
    .mobile_navbar {
        display: block !important;
        height: 82px;
        width: 100%;
    }
    .menu_icons {
        max-width: 500px;
        gap: 12px;
    }

    .text_nav {
        font-size: 10px;
    }
    .mobile_nav_border {
        border-top: 2px solid var(--color-mine-shaft) !important;
        border-bottom: unset !important;
    }
}
@media (max-width: 575.98px) {
    .mobile_navbar_hover {
        width: 55px;
    }

    .text_nav {
        font-size: 7px !important;
    }
    .menu_icons {
        gap: 8px;
    }
}
@media (max-width: 374.98px) {
    .menu_icons {
        gap: 2px;
    }
    .mobile_navbar_hover {
        width: 50px;
    }
}
