* {
    margin: 0;
    padding: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box !important;
}
/* ================DEFINE CONTAINER================ */
.custom_container {
    max-width: 1496px;
    margin: 0 auto;
    padding: 0 12px;
}

:root {
    --color-black: #000;
    --color-white: #fff;
    --color-gray: #666666;
    --color-light-white: #fefefe;
    --color-alto: #d9d9d9;
    --color-dark-alto: #0d0d0d;
    --color-dark-gray: #161616;
    --color-mine-shaft: #212121;
    --color-dark-mine-shaft: #3d3d3d;
    --color-scorpion: #606060;
    --color-silver-chalice: #a7a7a7;
    --color-scorpion: #5f5f5f;
    --color-mine-shaft: #2e2e2e;
    --color-skyblue: #017eff;
    --color-blue-gradient: linear-gradient(90deg, #017eff 0%, #97c4ff 100%);
    --color-blue-zodiac: #0b253f;

    --font-xsm: 20px;
    --font-sm: 22px;
    --font-base: 24px;
    --font-md: 28px;
    --font-lg: 40px;
    --font-xl: 44px;
    --font-2xl: 64px;
    --font-3xl: 70px;
    --font-4xl: 80px;
}

/*================================================= DEFINE-ALL = COLOR-VALUE =========================================== */
.bg_transparent {
    background: transparent;
}

.bg_black {
    background-color: var(--color-black);
}

.bg_white {
    background-color: var(--color-white);
}

.bg_light_white {
    background-color: var(--color-light-white);
}

.bg_alto {
    background-color: var(--color-alto);
}

.bg_dark_alto {
    background-color: var(--color-dark-alto);
}

.bg_dark_gray {
    background-color: var(--color-dark-gray);
}

.bg_mine_shaft {
    background-color: var(--color-mine-shaft);
}

.bg_dark_mine_shaft {
    background-color: var(--color-dark-mine-shaft);
}

.bg_scorpion {
    background-color: var(--color-scorpion);
}

.bg_blue_gradient {
    background: var(--color-blue-gradient);
}

.text_white {
    color: var(--color-white);
}

.text_alto {
    color: var(--color-alto);
}

.text_gray {
    color: var(--color-gray);
}

.text_silver_chalice {
    color: var(--color-silver-chalice);
}

.text_light_white {
    color: var(--color-light-white);
}

.text_mine_shaft {
    color: var(--color-mine-shaft);
}

.text_scorpion {
    color: var(--color-scorpion);
}

.text_blue_gradient {
    background: var(--color-blue-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*=========================================== DEFINE-ALL = FONT-FAMILY ========================================== */

@font-face {
    font-family: helvetica;
    src: url("/assets/fonts/helvetica-regular.otf");
}

.ff_inter {
    font-family: "Inter", sans-serif;
}

/*=========================================== DEFINE-ALL = FONT-SIZES ========================================== */
.text_xsm {
    font-size: var(--font-xsm);
}

.text_sm {
    font-size: var(--font-sm);
}

.text_base {
    font-size: var(--font-base);
}

.text_md {
    font-size: var(--font-md);
}

.text_lg {
    font-size: var(--font-lg);
}

.text_xl {
    font-size: var(--font-xl);
}

.text_3xl {
    font-size: var(--font-3xl);
}

.text_4xl {
    font-size: var(--font-4xl);
}

/* =====DEFINE ALL MEIDA QUERIES===== */
@media (max-width: 1199.98px) {
    :root {
        --font-sm: 16px;
        --font-base: 16px;
        --font-md: 18px;
        --font-lg: 28px;
        --font-xl: 30px;
        --font-2xl: 40px;
        --font-3xl: 50px;
        --font-4xl: 40px;
    }
}

@media (max-width: 991.98px) {
    :root {
        --font-lg: 22px;
        --font-xl: 26px;
        --font-2xl: 36px;
        --font-3xl: 40px;
    }
}

@media (max-width: 575.98px) {
    :root {
        --font-md: 16px;
        --font-lg: 20px;
        --font-xl: 22px;
        --font-2xl: 30px;
        --font-3xl: 32px;
        --font-4xl: 32px;
    }
}
