<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box !important;
}
.custom_container {
    max-width: 1496px;
    margin: 0 auto;
    padding: 0 12px;
}
=======
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

html,
body {
    font-family: helvetica !important;
}

/* ================DEFINE CONTAINER================ */
.container {
    padding-right: 24px;
    padding-left: 24px;
    margin-right: auto;
    margin-left: auto;
}

:root {
    --color-black: #000;
    --color-white: #fff;
    --color-gray: #666666;
    --color-light-white: #fefefe;
    --color-alto: #d9d9d9;
    --color-dark-alto: #0d0d0d;
    --color-dark-gray: #161616;
    --color-mine-shaft: #212121;
    --color-dark-mine-shaft: #3d3d3d;
    --color-scorpion: #606060;
    --color-silver-chalice: #A7A7A7;
    --color-scorpion: #5F5F5F;
    --color-mine-shaft: #2E2E2E;
    --color-skyblue: #017EFF;
    --color-blue-gradient: linear-gradient(90deg, #017EFF 0%, #97C4FF 100%);
    --color-blue-zodiac: #0B253F;

    --font-xsm: 20px;
    --font-sm: 22px;
    --font-base: 24px;
    --font-md: 28px;
    --font-lg: 40px;
    --font-xl: 44px;
    --font-2xl: 64px;
    --font-3xl: 70px;
    --font-4xl: 80px;

}

/*================================================= DEFINE-ALL = COLOR-VALUE =========================================== */
.bg_transparent {
    background: transparent;
}

.bg_black {
    background-color: var(--color-black);
}

.bg_white {
    background-color: var(--color-white);
}

.bg_light_white {
    background-color: var(--color-light-white);
}

.bg_alto {
    background-color: var(--color-alto);
}

.bg_dark_alto {
    background-color: var(--color-dark-alto);
}

.bg_dark_gray {
    background-color: var(--color-dark-gray);
}

.bg_mine_shaft {
    background-color: var(--color-mine-shaft);
}

.bg_dark_mine_shaft {
    background-color: var(--color-dark-mine-shaft);
}

.bg_scorpion {
    background-color: var(--color-scorpion);
}

.bg_blue_gradient {
    background: var(--color-blue-gradient);
}

.text_white {
    color: var(--color-white);
}

.text_alto {
    color: var(--color-alto);
}

.text_gray {
    color: var(--color-gray);
}

.text_silver_chalice {
    color: var(--color-silver-chalice);
}

.text_light_white {
    color: var(--color-light-white);
}

.text_mine_shaft {
    color: var(--color-mine-shaft);
}

.text_scorpion {
    color: var(--color-scorpion);
}

.text_blue_gradient {
    background: var(--color-blue-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/*=========================================== DEFINE-ALL = FONT-FAMILY ========================================== */


@font-face {
    font-family: helvetica;
    src: url("/assets/fonts/helvetica-regular.otf");
}

.ff_inter {
    font-family: "Inter", sans-serif;

}

/*=========================================== DEFINE-ALL = FONT-SIZES ========================================== */
.text_xsm {
    font-size: var(--font-xsm);
}

.text_sm {
    font-size: var(--font-sm);
}

.text_base {
    font-size: var(--font-base);
}

.text_md {
    font-size: var(--font-md);
}

.text_lg {
    font-size: var(--font-lg);
}

.text_xl {
    font-size: var(--font-xl);
}

.text_3xl {
    font-size: var(--font-3xl);
}

.text_4xl {
    font-size: var(--font-4xl);
}

/* =========DEFINE ALL COMMON CLASSES========= */
.sub_heading {
    font-size: var(--font-2xl);
    color: var(--color-light-white);

}

.text_decoration_underline {
    text-decoration: underline;
}

.text_center {
    text-align: center;
}

.text_start {
    text-align: left !important;
}

.text_capitalize {
    text-transform: capitalize;
}

.list_unstyled {
    list-style-type: none;
}

.common_btn {
    font-size: var(--font-md);
    font-weight: 700;
    background: linear-gradient(90deg, #017EFF 0%, #97C4FF 100%);
    border-radius: 16px;
    padding: 20px 75px;
    border: unset;
}

.common_btn:focus,
.common_btn:hover {
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
    -webkit-box-shadow: 0 0 0 0.7em transparent;
    box-shadow: 0 0 0 0.7em transparent;
}

@keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 var(--color-white);
        box-shadow: 0 0 0 0 var(--color-white);
    }
}

.text_underline {
    position: relative;
}

.text_underline::after {
    position: absolute;
    content: "";
    height: 2px;
    border-radius: 1px;
    bottom: -5px !important;
    width: 0;
    background-color: var(--color-white);
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 0;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.text_underline:hover::after {
    color: var(--color-white);
    width: 100%;
}


/* =======POSITIONING  UTILITY CLASSES======= */
.position_relative {
    position: relative;
}

.position_absolute {
    position: absolute;
}

.position_fixed {
    position: fixed;
}

.top_0 {
    top: 0;
}

.bottom_50 {
    bottom: 50%;
}

.left_0 {
    left: 0;
}

.left_50 {
    left: 50%;
}

.translate_x_minus_50 {
    transform: translate(-50%);
}

.right_0 {
    right: 0;
}

.bottom_0 {
    bottom: 0;
}

/* Column & Row Utility Classes */
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.d_flex {
    display: flex;
}


.flex_wrap {
    flex-wrap: wrap;
    flex-direction: row;
}

.d_block {
    display: block;
}

.d_none {
    display: none;
}

.d_inline_block {
    display: inline-block;
}

.flex_row {
    flex-direction: row;
}

.flex_column {
    flex-direction: column;
}

.flex_wrap {
    flex: wrap;
}

.justify_content_center {
    justify-content: center;
}

.justify_content_end {
    justify-content: end;
}

.justify_content_between {
    justify-content: space-between;
}

.align_items_center {
    align-items: center;
}

.cursor_pointer {
    cursor: pointer;
}

.w_100 {
    width: 100%;
}

.fw_normal {
    font-weight: 400;
}

.fw_bold {
    font-weight: 700;
}

.border {
    border: 1.12px solid var(--color-dark-mine-shaft);
}

.col_6 {
    flex: 0 0 50%;
    max-width: 50%;
}

/* =====DEFINE ALL MEIDA QUERIES===== */
@media (max-width: 1199.98px) {
    :root {
        --font-sm: 16px;
        --font-base: 16px;
        --font-md: 18px;
        --font-lg: 28px;
        --font-xl: 30px;
        --font-2xl: 40px;
        --font-3xl: 50px;
        --font-4xl: 40px;
    }

    .common_btn {
        border-radius: 12px;
        padding: 16px 53px;
    }
}

@media (max-width:991.98px) {
    :root {
        --font-lg: 22px;
        --font-xl: 26px;
        --font-2xl: 36px;
        --font-3xl: 40px;
    }
}

@media (max-width:575.98px) {
    :root {
        --font-md: 16px;
        --font-lg: 20px;
        --font-xl: 22px;
        --font-2xl: 30px;
        --font-3xl: 32px;
        --font-4xl: 32px;
    }

    .common_btn {
        border-radius: 12px;
        padding: 15.5px 45px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }

    .col_sm_6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .col_md_4 {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 896px;
        padding-left: 0px;
        padding-right: 0px;
    }


    .col_lg_6 {
        flex: 0 0 50%;
        max-width: 50%;
    }


    .col_lg_8 {
        flex: 0 0 66.6667%;
        max-width: 66.6667%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

    .row {
        margin-left: -15px;
        margin-right: -15px;
    }

    .col_xl_4 {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }

    .col_xl_11 {
        flex: 0 0 91.6667%;
        max-width: 91.6667%;
    }

}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}
>>>>>>> 723db77bacefba3a1f0b7239e7be25e17ceedb6c
