/*  ================== ROOT =================== */

:root {
    --color-black: #000;
    --color-white: #fff;
    --color-zombie: #e7d1a8;
    --color-meteor: #d18d0e;
    --color-mine-shaft: #303030;
    --color-gray: #1e1e1e;
    --color-light-gray: #181818;

    --font-xsm: 10px;
    --font-sm: 12px;
    --font-xBase: 14px;
    --font-base: 16px;
    --font-xmd: 18px;
    --font-md: 19px;
    --font-xlg: 28px;
    --font-lg: 30px;
    --font-xl: 50px;
}

/*=============== DEFINE-ALL = COLOR-VALUE =========== */

.bg_black {
    background-color: var(--color-black);
}

.bg_white {
    background-color: var(--color-white);
}

.bg_zombie {
    background-color: var(--color-zombie);
}

.bg_gray {
    background-color: var(--color-gray);
}

.bg_meteor {
    background-color: var(--color-meteor);
}

.bg_mine_shaft {
    background-color: var(--color-mine-shaft);
}

.bg_light_gray {
    background-color: var(--color-light-gray);
}

.bg_transparent {
    background-color: transparent;
}

.text_black {
    color: var(--color-black);
}

.text_zombie {
    color: var(--color-zombie);
}

.text_meteor {
    color: var(--color-meteor);
}

.text_white {
    color: var(--color-white);
}

/*=========================================== FONT WEIGHT ========================================== */

.fw_medium {
    font-weight: 500;
}

.fw_bold {
    font-weight: 700;
}

.fw_black {
    font-weight: 900;
}

.fw_light {
    font-weight: 300;
}

.fw_normal {
    font-weight: 400;
}

/*=========================================== DEFINE-ALL = FONT-SIZES ========================================== */
.text_xsm {
    font-size: var(--font-xsm);
}

.text_sm {
    font-size: var(--font-sm);
}

.text_xBase {
    font-size: var(--font-xBase);
}

.text_base {
    font-size: var(--font-base);
}

.text_xmd {
    font-size: var(--font-xmd);
}

.text_md {
    font-size: var(--font-md);
}

.text_xlg {
    font-size: var(--font-xlg);
}

.text_lg {
    font-size: var(--font-lg);
}

.text_xl {
    font-size: var(--font-xl);
}

@media (max-width: 1023.98px) {
    :root {
        --font-sm: 11px;
        --font-xmd: 13px;
        --font-lg: 27px;
        --font-xl: 40px;
    }

    .text_md_18 {
        font-size: 18px !important;
    }
}

@media (max-width: 767.98px) {
    :root {
        --font-xBase: 12px;
        --font-base: 14px;
        --font-xmd: 16px;
        --font-xlg: 24px;
        --font-xl: 32px;
    }

    .text_sm_18 {
        font-size: 18px !important;
    }
}

@media (max-width: 575.98px) {
    :root {
        --font-sm: 10px;
        --font-base: 12px;
        --font-xmd: 12px;
        --font-xlg: 20px;
        --font-lg: 26px;
        --font-xl: 26px;
    }

    .text_18 {
        font-size: 12px !important;
    }
}