/* ================= HERO SECTION =============================== */

.hero_bg_img {
    background-image: url("../images/webp/hero_bg.webp");
    background-position: top;
    background-size: 100% 70%;
    background-repeat: no-repeat;
}

.hero_bg_img .yellow_button {
    width: 120px !important;
    height: 25px !important;
    font-size: 8px !important;
}

.heading_max_width {
    max-width: 480px;
}

.macbook_paragrph_width {
    max-width: 485px;
}

.macbook_img {
    transform: translateX(-100px);
    width: 100%;
    min-width: 304px;
    min-height: 240px;
}

.hero_bg_img .normal_para {
    max-width: 420px;
}

.hero_content_max_w {
    max-width: 400px;
}

.hero_mobile_line {
    top: 70%;
    height: 2px;
    background: var(--color-mine-shaft);
}

.iphone_hero_img {
    min-width: 280px;
    min-height: 343px;
    position: relative;
    z-index: 10;
}

.iphone_hero_img_blur {
    width: 200px;
    z-index: 1;
    background: black;
    height: 300px;
    filter: blur(86px);
    position: absolute;
    bottom: -16%;
    left: 50%;
    transform: translateX(-50%);
}

/* ================= BFI SECTION =============================== */
.bfi_max_w {
    max-width: 457px;
}

.mobile_img {
    max-width: 400px;
    min-height: 370px;
    width: 100%;
    object-fit: cover;
    transform: translateX(-4px);
}

.border_rounded_second,
.border_rounded {
    height: 400px;
    width: 400px;
    border: 0.5px solid var(--color-meteor);
    border-radius: 50%;
    transform: translateY(-20px);
    opacity: 30%;
}

.blur_layer {
    height: 100px;
    width: 300px;
    border-radius: 50%;
    background-color: var(--color-meteor);
    filter: blur(100px);
    bottom: 20%;
    z-index: 10;
    cursor: none;
}

.position_mobile {
    margin-top: -10px;
}

.border_rounded_second {
    scale: 1.2;
}

/* ================= WELCOME SECTION =============================== */
.weclome_mobile {
    min-height: 274px;
    width: 100%;
    object-fit: cover;
    /* transform: translateX(-20%); */
}

.mt_54 {
    margin-top: 54px;
}

.max_w_380 {
    max-width: 380px;
}

.pt_20 {
    padding-top: 20px;
}

.pb_16 {
    padding-bottom: 16px;
}

.pr_40 {
    padding-right: 40px;
}

.welcome_max_w {
    max-width: 832px;
}

.welcome_bg_image {
    max-width: 1389px;
    top: 0px;
}

.computer_image_welcome {
    max-width: 1220px;
}

.computer_blur {
    background-color: var(--color-meteor);
    width: 100%;
    height: 100%;
    max-width: 203px;
    max-height: 135px;
    filter: blur(184px);
    top: 10%;
}

.pt_70 {
    padding-top: 70px;
}

.pt_43 {
    padding-top: 43px;
}

.pb_70 {
    padding-bottom: 70px;
}

.pb_73 {
    padding-bottom: 73px;
}

.pt_24 {
    padding-top: 24px;
}

.macbook_stock {
    min-height: 310px;
}

/* ======================= Cards Section ============================= */
.dashboard_img {
    width: 48px;
    height: 48px;
}

.section_line::after {
    position: absolute;
    content: "";
    width: 110%;
    left: -5%;
    top: 0;
    background-color: var(--color-mine-shaft);
    height: 2px;
}

.section_line::before {
    position: absolute;
    content: "";
    width: 110%;
    left: -5%;
    bottom: 0;
    background-color: var(--color-mine-shaft);
    height: 2px;
}

.letter_spacing {
    letter-spacing: -1px;
}

.mt_16 {
    margin-top: 16px;
}

.pt_8 {
    padding-top: 8px;
}

.py_20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.laptop_blur_layer {
    background-color: var(--color-meteor);
    filter: blur(100px);
    height: 190px;
    width: 300px;
    top: 20%;
}

/* ======================= FOOTER ======================= */
.footer_logo {
    width: 48px;
    height: 48px;
}

.icons_max_w {
    max-width: 202px;
}

.gap_20 {
    gap: 20px;
}

.footer_link:hover {
    opacity: 0.7;
}

@media (min-width: 576px) {
    .iphone_hero_img_blur {
        bottom: -5%;
    }

    .position_mobile {
        margin-top: 24px !important;
    }

    .pr_sm_0 {
        padding: 0;
    }

    .letter_spacing {
        letter-spacing: 0px;
    }

    .d_sm_inline_block {
        display: inline-block;
    }

    .weclome_mobile {
        min-height: 294px;
    }

    .max_w_380 {
        max-width: 400px;
    }

    .border_rounded_second,
    .border_rounded {
        height: 380px;
        width: 380px;
        border: 0.5px solid var(--color-meteor);
        border-radius: 50%;
        transform: translateY(4px);
        opacity: 30%;
    }

    .pb_sm_30 {
        padding-bottom: 30px !important;
    }

    .gap_sm_24 {
        gap: 24px !important;
    }
}

@media (min-width: 768px) {
    .gasless_md_bg {
        background-color: #181818;
    }
    .iphone_hero_img_blur {
        bottom: -10%;
        transform: translateX(0);
        left: unset;
        right: 10%;
        width: 200px;
        height: 300px;
        filter: blur(100px);
    }

    .hero_bg_img {
        background-position: center;
        background-size: 100% 100%;
    }

    .pb_md_70 {
        padding-bottom: 70px;
    }

    .macbook_img {
        transform: translate(-20px, 4px);
    }

    .macbook_content_pb {
        padding-bottom: 50px;
    }

    .hero_bg_img .yellow_button {
        font-size: 12px !important;
        width: 220px !important;
        height: 46px !important;
    }

    .hero_mobile_img {
        width: 456px;
        height: 560px;
        right: -7%;
        top: 70px;
        display: block;
        position: absolute;
        z-index: 11;
    }

    .hero_bg_img {
        height: 590px;
    }

    .col_lg_5 {
        width: 41.33%;
        padding: 0 12px;
    }

    .d_md_block {
        display: block !important;
    }

    .mt_md_0 {
        margin-top: 0;
    }

    .d_md_flex {
        display: flex;
    }

    .section_line::before {
        left: -103%;
        width: 220%;
    }

    .section_line::after {
        width: 0;
    }

    .border_md_right {
        border-right: 2px solid var(--color-mine-shaft);
    }

    .border_md_top {
        border-top: 2px solid var(--color-mine-shaft);
    }

    .pt_md_70 {
        padding-top: 70px;
    }

    .pb_md_0 {
        padding-bottom: 0px !important;
    }

    .pt_md_12 {
        padding-top: 12px !important;
    }

    .pt_md_0 {
        padding-top: 0px !important;
    }

    .computer_blur {
        background-color: var(--color-meteor);
        width: 100%;
        height: 100%;
        max-width: 483px;
        max-height: 235px;
        filter: blur(184px);
        top: 35%;
    }

    .welcome_bg_image {
        top: 60px;
    }

    .col_md_6 {
        width: 50%;
    }

    .section_line::before {
        left: -103%;
        width: 220%;
    }

    .section_line::after {
        width: 0;
    }

    .border_md_right {
        border-right: 2px solid var(--color-mine-shaft);
    }

    .border_md_top {
        border-top: 2px solid var(--color-mine-shaft);
    }

    .pl_8 {
        padding-left: 8px;
    }

    .bfi_section {
        min-height: 342px;
    }

    .bfi_max_w {
        max-width: 307px;
    }

    .desktop_bfi_img {
        min-height: 345px;
        object-fit: cover;
    }

    .pt_md_4 {
        padding-top: 4px !important;
    }

    .position_mobile {
        margin-top: 0px !important;
    }

    .mb_n4 {
        margin-bottom: -4px;
    }
}

@media (min-width: 1024px) {
    .iphone_hero_img_blur {
        bottom: -16%;
        left: unset;
        right: 19%;
        filter: blur(85px);
    }

    .hero_bg_img {
        height: 560px;
    }

    .bfi_section {
        min-height: 400px;
    }

    .bfi_max_w {
        max-width: 357px;
    }

    .hero_content_max_w {
        max-width: unset;
    }

    .hero_mobile_img {
        right: 0%;
    }

    .computer_blur {
        max-width: 683px;
        max-height: 335px;
        filter: blur(200px);
        top: 35%;
    }

    .section_line::before {
        width: 0;
    }

    .col_lg_6 {
        width: 50%;
    }

    .col_lg_3 {
        width: 25%;
    }

    .col_lg_9 {
        width: 75%;
    }

    .col_lg_4 {
        width: 33.33%;
    }

    .border_lg_right {
        border-right: 2px solid var(--color-mine-shaft);
    }

    .footer_lg_line::after {
        content: "";
        position: absolute;
        width: calc(100% + 8px);
        left: -8px;
        top: 55%;
        transform: translateY(-50%);
        height: 2px;
        background-color: var(--color-mine-shaft);
    }

    .pl_lg_0 {
        padding-left: 0;
    }

    .pt_lg_0 {
        padding-top: 0;
    }

    .pb_lg_0 {
        padding-bottom: 0;
    }

    .py_lg_38 {
        padding-top: 38px;
        padding-bottom: 38px;
    }

    .pt_lg_48 {
        padding-top: 48px;
    }

    .bfi_section {
        min-height: 415px;
    }

    .bfi_max_w {
        max-width: 440px;
    }
}

@media (min-width: 1200px) {
    .bfi_section {
        min-height: 455px;
    }

    .col_xl_7 {
        width: 58.33%;
        padding: 0 12px;
    }

    .col_xl_5 {
        width: 41.66%;
        padding: 0 12px;
    }

    .macbook_content_pb {
        padding-bottom: 60px !important;
    }

    .hero_mobile_img {
        right: 0;
        width: 580px;
        height: 710px;
    }

    .pl_xl_32 {
        padding-left: 32px;
    }

    .pt_xl_16 {
        padding-top: 16px;
    }

    .pt_xl_30 {
        padding-top: 30px !important;
    }

    .gap_xl_32 {
        gap: 32px !important;
    }
}

@media (min-width: 1280px) {
    .p_xl_24 {
        padding: 24px;
    }

    .pl_xl_50 {
        padding-left: 50px;
    }

    .bfi_section {
        min-height: 530px;
    }

    .pl_xl_126 {
        padding-left: 126px;
    }

    .bfi_max_w {
        max-width: 457px;
    }
}

@media (min-width: 1400px) {
    .iphone_hero_img_blur {
        bottom: -21%;
        left: unset;
        right: 26%;
        filter: blur(85px);
    }

    .hero_bg_img {
        height: 687px;
    }

    .hero_mobile_img {
        width: 682px;
        height: 836px;
    }

    .bfi_section {
        min-height: 580px;
    }

    .p_xxl_28 {
        padding: 28px;
    }
}

@media (min-width: 1536px) {
    .hero_bg_img {
        height: 680px;
    }

    .bfi_section {
        min-height: 610px;
    }

    .hero_mobile_img {
        width: 801px;
        height: 982px;
    }

    .macbook_img {
        width: 106% !important;
    }
}

@media (min-width: 1600px) {
    .hero_bg_img {
        height: 795px;
    }
}
