* {
    margin: 0;
    padding: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box !important;
}

html,
body {
    overflow-x: hidden !important;
    background-color: var(--color-gray) !important;
    scroll-behavior: smooth !important;
}

/* ============ SCROLLBAR CSS ============ */

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: var(--color-mine-shaft);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-meteor);
    border-radius: 10px;
}

/* ================DEFINE CONTAINER================ */

.custom_container {
    max-width: 1496px;
    margin: 0 auto;
    padding: 0 20px;
}

/*=========================================== DEFINE-ALL = FONT-FAMILY ========================================== */

@font-face {
    font-family: print;
    src: url("/assets/fonts/print_chart_21.ttf");
}

@font-face {
    font-family: styrene_medium;
    font-weight: 500 !important;
    src: url("/assets/fonts/StyreneA-Medium-Trial-BF63f6cbdb24b6d.otf");
}

@font-face {
    font-family: styrene_light;
    font-weight: 300 !important;
    src: url("/assets/fonts/StyreneA-Light-Trial-.otf");
}

@font-face {
    font-family: lt_superior_bold;
    font-weight: 700 !important;
    src: url("/assets/fonts/LTSuperior-Bold.otf");
}

@font-face {
    font-family: styrene_regular;
    font-weight: 400 !important;
    src: url("/assets/fonts/StyreneA-Regular-Trial.otf");
}

.ff_print {
    font-family: "print", sans-serif;
}

.ff_styrene_medium {
    font-family: "styrene_medium", sans-serif;
}

.ff_styrene_light {
    font-family: "styrene_light", sans-serif;
}

.ff_styrene_regular {
    font-family: "styrene_regular", sans-serif;
}

.ff_lt_superior_bold {
    font-family: "lt_superior_bold", sans-serif;
}

/* ============================ COMMON CSS ============================== */

/* ================= DISPLAY FLEX ============= */

.d_flex {
    display: flex;
}

.d_block {
    display: block;
}

.d_none {
    display: none;
}

.border_none {
    border: none;
}

.d_inline_block {
    display: inline-block;
}

.flex_column {
    flex-direction: column;
}

.justify_content_center {
    justify-content: center;
}

.justify_content_end {
    justify-content: end;
}

.justify_content_between {
    justify-content: space-between;
}

.align_items_center {
    align-items: center;
}

/* ============= ROW AND COL =============== */
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col_1 {
    width: 8.33%;
    padding: 0 12px;
}

.col_12 {
    width: 100%;
    padding: 0 12px;
}

/* ============= WIDTH AND HEIGHT =============== */

.w_100 {
    width: 100%;
}

.h_100 {
    height: 100%;
}

/* ================= TEXT ============= */

.text_uppercase {
    text-transform: uppercase;
}

.text_capitalize {
    text-transform: capitalize;
}

.text_center {
    text-align: center;
}

.text_end {
    text-align: end;
}

/* ============ LETTER SPACING =========== */
.letter_3 {
    letter-spacing: 3px;
}
.letter_4 {
    letter-spacing: 4px;
}

.letter_2 {
    letter-spacing: 2px;
}

.letter_6 {
    letter-spacing: 6px;
}

.letter_spacing {
    letter-spacing: -1px;
}

.letter_spacing_1 {
    letter-spacing: 1px;
}

/* =============== POSITION =============== */

.position_relative {
    position: relative;
}

.position_absolute {
    position: absolute;
}

.position_fixed {
    position: fixed;
}

.top_0 {
    top: 0;
}

.left_0 {
    left: 0;
}

.left_50 {
    left: 50%;
}

.-translate_x_50 {
    transform: translateX(-50%);
}

.bottom_0 {
    bottom: 0;
}

/* =============== LINE HEIGHT ================*/

.lh_100 {
    line-height: 100% !important;
}

.lh_110 {
    line-height: 110% !important;
}

.lh_120 {
    line-height: 120% !important;
}

.lh_122 {
    line-height: 122% !important;
}

.lh_160 {
    line-height: 160% !important;
}

/* ================== ORDER ================= */

.order_first {
    order: 0;
}

.order_last {
    order: 1;
}

/* ============ COMMON CLASS ============== */

.transition_03s {
    transition: all 300ms ease-in-out;
}

.cursor_pointer {
    cursor: pointer;
}

.z_1 {
    z-index: 1;
}

.z_10 {
    z-index: 10;
}

.z_20 {
    z-index: 20;
}

.z_111 {
    z-index: 111;
}

.overflow_hidden {
    overflow: hidden;
}

/* ========== BACK TO TOP CSS =========== */
#back_to_top_btn {
    bottom: 20px;
    right: 20px;
    border: none;
    z-index: 49;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid transparent;
}

#back_to_top_btn:hover {
    box-shadow: 0px 0px 16px white;
    border: 1px solid var(--color-white);
}

/* =========== BORDER ========== */

.border_top {
    border-top: 2px solid var(--color-mine-shaft);
}

.border_bottom {
    border-bottom: 2px solid var(--color-mine-shaft);
}

.border_left {
    border-left: 2px solid var(--color-mine-shaft);
}

.border_right {
    border-right: 2px solid var(--color-mine-shaft);
}

/* ============== PADDING ========== */
.pl_48 {
    padding-left: 48px;
}

.pr_48 {
    padding-right: 48px;
}

.pl_32 {
    padding-left: 32px;
}

.pr_12 {
    padding-right: 12px;
}

.pt_20 {
    padding-top: 20px !important;
}

.pb_24 {
    padding-bottom: 24px !important;
}

.pt_12 {
    padding-top: 12px;
}

.pb_48 {
    padding-bottom: 48px;
}

.px_12 {
    padding-left: 12px;
    padding-right: 12px;
}

.px_32 {
    padding: 0 32px;
}

.pb_32 {
    padding-bottom: 32px !important;
}

.pb_16 {
    padding-bottom: 16px;
}

.pr_40 {
    padding-right: 40px;
}

.pt_70 {
    padding-top: 70px;
}

.pt_43 {
    padding-top: 43px;
}

.pb_70 {
    padding-bottom: 70px;
}

.pb_73 {
    padding-bottom: 73px;
}

.pt_24 {
    padding-top: 24px;
}

.py_20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* ============== MARGIN ========== */

.mb_24 {
    margin-bottom: 24px;
}

.mx_auto {
    margin-left: auto;
    margin-right: auto;
}

.mt_54 {
    margin-top: 54px;
}

.mt_n_40 {
    margin-top: -40px;
}

.mt_16 {
    margin-top: 16px;
}

/* ============ GAP ============= */
.gap_48 {
    gap: 48px;
}

.gap_32 {
    gap: 32px;
}

.gap_24 {
    gap: 24px;
}

.gap_12 {
    gap: 12px;
}

.gap_20 {
    gap: 20px;
}

.yellow_button {
    width: 130px;
    padding: 10.5px;
    height: 32px;
    font-size: 8px;
    border: none;
    clip-path: polygon(0 0, 100% 0, 100% 60%, 90% 100%, 0 100%);
}

.yellow_button:hover {
    background: var(--color-white);
    color: black;
}

.black_button {
    width: 120px;
    font-size: 8px;
    height: 25px;
    background: black;
    border: 1px solid var(--bg_zombie);
    clip-path: polygon(0 0, 100% 0, 100% 60%, 90% 100%, 0 100%);
}

.black_button:hover {
    background: var(--color-white);
    color: black !important;
}

.box_black_button {
    width: 122px;
    padding: 1px;
    clip-path: polygon(0 0, 100% 0, 100% 60%, 90% 100%, 0 100%);
}

/* ========================== SUHEADING=========================== */
.sub_heading {
    font-size: var(--font-lg);
    font-weight: 700;
    letter-spacing: 4px;
    line-height: 110%;
    text-transform: uppercase;
}

.sub_para {
    font-size: var(--font-sm);
    font-weight: 500;
    line-height: 140%;
}

/* ================= HERO SECTION =============================== */

.hero_bg {
    background-image: url("../images/webp/hero_bg.webp");
    background-position: top;
    background-size: 100% 70%;
    background-repeat: no-repeat;
}

.hero_bg .yellow_button {
    width: 120px !important;
    height: 25px !important;
    font-size: 8px !important;
}

.heading_max_width {
    max-width: 480px;
}

.macbook_paragrph_width {
    max-width: 485px;
}

.macbook_img {
    transform: translateX(-100px);
    min-width: 304px;
    min-height: 240px;
}

.hero_bg .sub_para {
    max-width: 420px;
}

.hero_content_max_w {
    max-width: 400px;
}

.hero_mobile_line {
    top: 70%;
    height: 2px;
    background: var(--color-mine-shaft);
}

.iphone_hero_img {
    min-width: 280px;
    min-height: 343px;
}

.iphone_hero_img_blur {
    width: 200px;
    height: 300px;
    filter: blur(86px);
    bottom: -16%;
}

/* ================= BFI SECTION =============================== */
.bfi_max_w {
    max-width: 457px;
}

.mobile_img {
    max-width: 400px;
    min-height: 370px;
    object-fit: cover;
}


.blur_layer {
    height: 100px;
    width: 305px;
    border-radius: 50%;
    background-color: var(--color-meteor);
    filter: blur(100px);
    bottom: 20%;
    cursor: none;
}

.bitscap_bfi_margin {
    margin-top: -10px;
}


/* ================= WELCOME SECTION =============================== */
.welcome_mobile {
    min-height: 274px;
    object-fit: cover;
}


.max_w_380 {
    max-width: 380px;
}


.welcome_max_w {
    max-width: 832px;
}

.welcome_bg_image {
    max-width: 1389px;
    top: 0px;
}

.computer_image_welcome {
    max-width: 1220px;
}

.computer_blur {
    background-color: var(--color-meteor);
    max-width: 203px;
    max-height: 135px;
    filter: blur(184px);
    top: 10%;
}


.macbook_stock {
    min-height: 310px;
}

.min_h_laptop {
    min-height: 360px !important;
}

.hero_bg .yellow_button {
    padding: 0 !important;
}

/* ======================= Cards Section ============================= */
.dashboard_img {
    width: 48px;
    height: 48px;
}

.section_line::after {
    top: 0;
}

.section_line::after,
.section_line::before {
    position: absolute;
    content: "";
    height: 2px;
    background-color: var(--color-mine-shaft);
    left: -5%;
    width: 110%;
}

.section_line::before {
    bottom: 0;
}


.laptop_blur_layer {
    background-color: var(--color-meteor);
    filter: blur(103px);
    height: 190px;
    width: 300px;
    top: 20%;
}

/* ======================= FOOTER ======================= */

.icons_max_w {
    max-width: 202px;
}


.footer_link:hover {
    opacity: 0.7;
}

.social_icons {
    transform: translateY(2px);
}

@media (min-width: 576px) {
    /* ==================PADDING / MARGIN /GAP================== */

    .pr_sm_0 {
        padding: 0;
    }

    .pb_sm_30 {
        padding-bottom: 30px !important;
    }

    .mb_sm_30 {
        margin-bottom: 30px;
    }

    .gap_sm_24 {
        gap: 24px !important;
    }

    /* ==================LETTER SPACING / MAX-WIDTH / DISPLAY================== */
    .letter_spacing {
        letter-spacing: 0px !important;
    }

    .max_w_380 {
        max-width: 400px;
    }

    .d_sm_inline_block {
        display: inline-block;
    }

    /* ==================HERO SECTION================== */
    .iphone_hero_img_blur {
        bottom: -5%;
    }

    .bitscap_bfi_margin {
        margin-top: 24px !important;
    }

    /* ==================WELCOME SECTION================== */
    .welcome_mobile {
        min-height: 294px;
    }

}

@media (min-width: 768px) {
    .gasless_md_bg {
        background-color: #181818;
    }

    .iphone_hero_img_blur {
        bottom: -10%;
        transform: translateX(0);
        left: unset;
        right: 10%;
        width: 200px;
        height: 300px;
        filter: blur(100px);
    }

    .hero_bg {
        background-position: center;
        background-size: 100% 100%;
    }

    /* ==================PADDING / MARGIN /GAP================== */

    .pb_md_0 {
        padding-bottom: 0px !important;
    }

    .pb_md_70 {
        padding-bottom: 70px;
    }

    .pt_md_0 {
        padding-top: 0px !important;
    }


    .pt_md_4 {
        padding-top: 4px !important;
    }

    .pt_md_12 {
        padding-top: 12px !important;
    }

    .pt_md_24 {
        padding-top: 24px !important;
    }

    .pt_md_32 {
        padding-top: 32px !important;
    }

    .pt_md_48 {
        padding-top: 48px !important;
    }

    .pt_md_70 {
        padding-top: 70px;
    }

    .pl_md_32 {
        padding-left: 32px;
    }

    .pl_md_8 {
        padding-left: 8px;
    }

    .mt_md_0 {
        margin-top: 0;
    }

    .mb_n4 {
        margin-bottom: -4px;
    }

    .macbook_img {
        transform: translate(-20px, 4px);
    }

    .macbook_content_pb {
        padding-bottom: 50px;
    }

    .hero_bg .yellow_button {
        font-size: 12px !important;
        width: 220px !important;
        height: 46px !important;
    }

    .hero_mobile_img {
        width: 456px;
        height: 560px;
        right: -6%;
        top: 70px;
        display: block;
        position: absolute;
        z-index: 11;
    }

    .hero_bg {
        height: 530px;
    }

    .col_lg_5 {
        width: 41.33%;
        padding: 0 12px;
    }

    .d_md_block {
        display: block !important;
    }

    .d_md_flex {
        display: flex;
    }

    .section_line::before {
        left: -103%;
        width: 220%;
    }

    .section_line::after {
        width: 0;
    }

    .border_md_right {
        border-right: 2px solid var(--color-mine-shaft);
    }

    .border_md_top {
        border-top: 2px solid var(--color-mine-shaft);
    }

    .computer_blur {
        max-width: 483px;
        max-height: 235px;
        filter: blur(184px);
        top: 35%;
    }

    .welcome_bg_image {
        top: 60px;
    }

    .col_md_6 {
        width: 50% !important;
    }

    .col_md_5 {
        width: 42.33% !important;
    }

    .section_line::before {
        left: -103%;
        width: 220%;
    }

    .section_line::after {
        width: 0;
    }

    .border_md_right {
        border-right: 2px solid var(--color-mine-shaft);
    }

    .border_md_top {
        border-top: 2px solid var(--color-mine-shaft);
    }


    .bfi_section {
        min-height: 342px;
    }

    .bfi_max_w {
        max-width: 307px;
    }

    .desktop_bfi_img {
        min-height: 345px;
        object-fit: cover;
    }


    .bitscap_bfi_margin {
        margin-top: 0px !important;
    }



    .d_md_none {
        display: none !important;
    }



    .align_items_md_end {
        align-items: flex-end;
    }

    .computer_btn .box_black_button {
        width: 150px;
        height: 34px;
    }

    .computer_btn .black_button {
        font-size: 12px;
        width: 148px;
        height: 32px;
    }

    .box_black_button {
        width: 172px;
        height: 46px;
    }

    .yellow_button {
        font-size: 12px;
    }

    .black_button {
        font-size: 12px;
        width: 170px;
        height: 44px;
    }

    .order_md_0 {
        order: 0;
    }

    .order_md_1 {
        order: 1;
    }

    .flex_md_row {
        flex-direction: row;
    }

    .align_items_md_center {
        align-items: center;
    }
}

@media (min-width: 1024px) {
    .iphone_hero_img_blur {
        bottom: -16%;
        left: unset;
        right: 19%;
        filter: blur(85px);
    }

    .hero_bg {
        height: 560px;
    }

    .bfi_section {
        min-height: 400px;
    }

    .bfi_max_w {
        max-width: 357px;
    }

    .hero_content_max_w {
        max-width: unset;
    }

    .hero_mobile_img {
        right: 0%;
    }

    .computer_blur {
        max-width: 683px;
        max-height: 335px;
        filter: blur(200px);
        top: 35%;
    }

    .section_line::before {
        width: 0;
    }

    .col_lg_6 {
        width: 50% !important;
    }

    .col_lg_3 {
        width: 25% !important;
    }

    .col_lg_9 {
        width: 75% !important;
    }

    .col_lg_4 {
        width: 33.33% !important;
    }

    .border_lg_right {
        border-right: 2px solid var(--color-mine-shaft);
    }

    .footer_lg_line::after {
        content: "";
        position: absolute;
        width: calc(100% + 8px);
        left: -8px;
        top: 55%;
        transform: translateY(-50%);
        height: 2px;
        background-color: var(--color-mine-shaft);
    }

    .pl_lg_0 {
        padding-left: 0;
    }

    .pt_lg_0 {
        padding-top: 0px !important;
    }

    .pb_lg_0 {
        padding-bottom: 0 !important;
    }

    .py_lg_38 {
        padding-top: 38px;
        padding-bottom: 38px;
    }

    .pt_lg_48 {
        padding-top: 48px;
    }

    .pl_lg_48 {
        padding-left: 48px;
    }

    .bfi_section {
        min-height: 415px;
    }

    .bfi_max_w {
        max-width: 440px;
    }

    .box_black_button {
        width: 220px;
    }

    .black_button {
        font-size: 12px;
        width: 218px;
        height: 44px;
    }

    .d_lg_none {
        display: none !important;
    }

    .d_lg_block {
        display: block !important;
    }
}

@media (min-width: 1200px) {
    .col_xl_3 {
        width: 25% !important;
    }

    .col_xl_8 {
        width: 66.66% !important;
    }

    .bfi_section {
        min-height: 455px;
    }

    .col_xl_7 {
        width: 58.33%;
        padding: 0 12px;
    }

    .col_xl_5 {
        width: 41.66%;
        padding: 0 12px;
    }

    .col_xl_6 {
        width: 50%;
        padding: 0 12px;
    }

    .macbook_content_pb {
        padding-bottom: 60px !important;
    }

    .hero_mobile_img {
        right: 0;
        width: 580px;
        height: 710px;
    }

    .pl_xl_32 {
        padding-left: 32px;
    }

    .pt_xl_16 {
        padding-top: 16px;
    }

    .pt_xl_30 {
        padding-top: 30px !important;
    }

    .gap_xl_32 {
        gap: 32px !important;
    }

}

@media (min-width: 1280px) {
    .p_xl_24 {
        padding: 24px;
    }

    .pl_xl_50 {
        padding-left: 50px;
    }

    .bfi_section {
        min-height: 530px;
    }

    .pl_xl_126 {
        padding-left: 126px;
    }

    .bfi_max_w {
        max-width: 457px;
    }
}

@media (min-width: 1400px) {
    .iphone_hero_img_blur {
        bottom: -21%;
        left: unset;
        right: 26%;
        filter: blur(85px);
    }

    .hero_bg {
        height: 687px;
    }

    .hero_mobile_img {
        width: 682px;
        height: 836px;
    }

    .bfi_section {
        min-height: 580px;
    }

    .p_xxl_28 {
        padding: 28px;
    }

    .h_2xl_100 {
        height: 100%;
    }

    .custom_container {
        border-left: 2px solid var(--color-mine-shaft);
        border-right: 2px solid var(--color-mine-shaft);
    }
}

@media (min-width: 1536px) {
    .hero_bg {
        height: 680px;
    }

    .bfi_section {
        min-height: 610px;
    }

    .hero_mobile_img {
        width: 801px;
        height: 982px;
    }

    .macbook_img {
        width: 106% !important;
    }
}

@media (min-width: 1600px) {
    .hero_bg {
        height: 795px;
    }
}